.nav-bar{
  display: flex;
  justify-content: space-around;
  background-color: #cb6688;
  padding: 10px;
  color: aliceblue;
}
.brand{
  text-align: center;
  font-size: 25px;
  font-weight: bolder;

}
.search-bar{
  width: 55%;
}
.search-bar input{
  text-align: center;
  width: 55%;
  padding: 5px;
  margin-left: 100px;
  border-radius: 10px;
  border-color: #121010;
}

input::placeholder{
  padding: 10px;
  font-weight:bold;
}
.cart{
  font-size: 16px;
  font-weight: bolder;
}

